/ProjectManwich/Library
/ProjectManwich/Temp
/ProjectManwich/UnityVS.ProjectManwich.suo
/ProjectManwich/UnityVS.ProjectManwich.CSharp.csproj
/ProjectManwich/UnityVS.ProjectManwich.sln
/ProjectManwich/UnityVS.ProjectManwich.sln.DotSettings
